.logincontainer {
    width: 130%;
    /* margin:  auto 10rem auto 0rem ; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3rem;
    margin-top: 6rem;
    position: relative;
    right: 30rem;
    /* background-color: #52658a; */
}

.loginpage {
    justify-content: space-evenly;
    background-image: url("https://s1.1zoom.me/b5050/147/Fitness_Handbag_Jump_Colored_background_600380_1920x1080.jpg");
    height: 130vh;

}

.labels {
    /* color: green; */
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.button {
    margin-top: 2%;
    color-scheme: black;
}

.inputs {
    border: 2px solid black;
    background-color: white;
}

.heading {
    background-color: black;
    color: #ffdc60;
    width: 30%;
    margin: auto;
}

.loginheading{
    background-color: black;
    color: #ffdc60;
    width: 40%;
    margin: auto;
}

/* signup page css  */
.inputs::placeholder {
    color: black;
    opacity: 1;
    font-weight: 500;
    /* Firefox */
}

.signupcontainer {
    width: 55%;
    padding: 2%;
    margin: 1rem auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color: #ffdc60; */
}

.signuppage {
    padding: 2%;
    font-weight: 700;
    background-image: url("https://sport.pibig.info/uploads/posts/2023-04/1681508319_sport-pibig-info-p-sport-vell-krasivo-2.jpg");
    /* background-color: #f7be43; */
    /* height: 110vh; */
}

.signuplabels {
    /* background-color: black;
    color: #ffdc60;
    width: 30%; */
    text-align: left;

    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width:1320px) {
    .logincontainer {
        /* width: 100%; */
        right: 4rem;
    }

    .loginpage {
        background-image: none;
        background-color: #ffdc60;
    }

    .signuppage{
        background-image: none;
        background-color: #ffdc60;
    }
}

@media (max-width:650px) {
    .logincontainer {
        width: 100%;
        right: 0rem;
    }
}